<!DOCTYPE html>
<html>
 <head> 
	<style>
  body {background-color: gray;} 
  .asset {color: blue; font-weight:bold;}
   </style>
 </head>
   <body>


<h1 class="title">THIS IS </h1> <h1 class="asset"> DEMO</h1>