
<h1>
	this is a test...this is only a test.
</h1>
	
<p> 

<a href="/example2/demo"> LINK TO DEMO PAGE USING HTML TAGS </a> </br>
<%= link_to('LINK TO DEMO PAGE -ERB ', {:action => 'demo'}) %>
</br>
<%= link_to('LINK WITH PARAMETERS -ERB ', {:action => 'index', :id => '666', :page => '10000'}) %>
</p>
