<!DOCTYPE html>
<html>
 <head> 
   <link type="text/css" rel="stylesheet" href="C:\Rubbish\wamp\www\example\app\assets\stylesheets\stylesheet.css"/>
   <script type="text/javascript" src="scratch.js"></script>  
   <title>ISOSCELES </title>
 </head>
  <body> 
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'defaults', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<div class="wrapper">

   
   <div id="header"> 
   
        <div> <p> PRODUCTIONs:</p> 
        </div>
         
        <p> <a> <img src="http://static.wixstatic.com/media/642baccb34ccf1bfccc64079d30b9de1.wix_mp_srb_p_73_74_75_22_0.50_1.20_0.00_wix_mp_srb" height=70px width=70px /> </a> 
        </p>
         
       <div> <ul> HOME </ul> <ul> GALLARY </ul> <ul> WORK </ul> 
       </div> 
   
    </div>  <!-- header-->
                    
  <div class="outer"> OUTER 
  </div>
  
  <div class="inner"> INNER <p> <a> <img src="http://static.wixstatic.com/media/8cd5d2_98c264c0ae50dea4acf30ba4496e9e8a.jpg_srz_p_235_25_75_22_0.50_1.20_0.00_jpg_srz"/> </a> </p> 
  </div>
  
  <div id="footer"> FOOTER 
  <input type="button" value="CLICKME" onclick="doSomething();" />
  </div>


</div>  <!-- wrapper-->
 
 
  </body>
</html>

