<!DOCTYPE html>
<html>
 <head> 
	<style>
  body {background-color: black;} 
  .asset {color: yellow; font-weight:bold;}
  h2 {color:gray;}
  div {background-color:yellow;}
  div div{background-color:gray;}
   </style>
 </head>
   <body>

<div>
	<h2 class="title">THIS IS </h2>
       <div> 
	     <h1 class="asset"> something#index</h1>
       </div>
</div>

